
<h1><%= @response %></h1>
<div id="questions-container">
  <h1>Questions</h1>
  <%@questions.sort_by{|x| x.id}.each do |question|%>
    <div id="<%= question.id %>">
      <h3>
        <a href="/questions/<%= question.id %>"><%=question.title%></a>
      </h3>
      <p class="vote-count"><%= question.vote_count %></p>

    <!-- below, look at the rake routes and take note of the parameter and be sure to pass them in a la question.id -->
    <div data-question-id="<%=question.id%>">
      <%= button_to 'Upvote', upvote_question_path(question.id), method: "put", form_class: 'question_upvote' %>
      <%= button_to 'Downvote', downvote_question_path(question.id), method: "put", form_class: 'question_downvote' %>

    </div>
  </div>
</div>
<% end %>
<!-- we think handlebars goes here -->
<script type="text/x-handlebars-template" id="question-template">
  <div class="question-handlebars">

    <h3><a href="/questions/{{id}}">{{title}}</a></h3>

    <form action="/questions/{{id}}/upvote" class="upvote" method="post"><div><input name="_method" type="hidden" value="put" /><input type="submit" value="Upvote" /><input name="authenticity_token" type="hidden" value="31UOXrXQ4k5fahNNIuXfNQOJLIVSSsneex3wN2afnU0=" /></div></form>

   <form action="/questions/{{id}}/downvote" class="question_downvote" method="post"><div><input name="_method" type="hidden" value="put" /><input type="submit" value="Downvote" /><input name="authenticity_token" type="hidden" value="j69xo2SUE+M2NiDHU0MWWt0QS3q1sJlvOfS2QMScW80=" /></div></form>
  </div>
</script>
<h2>Create a New Question!</h2>
<%= render partial: "form" %>

