<h1><%=@question.title%></h1>

<div class="question">
  <%= @question.content %>
</div>


<%= button_to 'Delete Question', question_path(@question),
  :method => :delete  %>
<%= button_to 'Edit Question', edit_question_path(@question),
  :method => :get %>

<h2>Answers</h2>
<% @question.answers.sort_by{|x| x.id}.each do |answer| %>
  <div data-answer-id=<%= answer.id %> class="answer">
    <h3><%= answer.title %></h3>
    <p><%= answer.content %></p>
    <%= button_to 'Upvote', upvote_question_answer_path(@question.id, answer.id), method: "put", form_class: "upvote" %>
    <%= button_to 'Downvote', downvote_question_answer_path(@question.id, answer.id), method: "put", form_class: "downvote" %>
    <p class="vote-count"><%= answer.vote_count %></p>
  </div>
  <% end %>




<h2>Create A New Answer</h2>
<%= render "answers/form" %>




